.EXTENDER, .EX {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden
}

.COLS {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.COLS.JUS-CENTER {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center
}

.COLS.JUS-END {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end
}

.COLS.JUS-AROUND {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: distribute
}

.COLS.JUS-BETWEEN {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.COLS.END {
    -webkit-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    align-items: end
}

.COLS.CENTER {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.COLS.STRETCH {
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.COLS.BASELINE {
    -webkit-align: baseline;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.COLS .displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.COLS.REVERSE {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

.ROWS {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.ROWS.JUS-CENTER {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center
}

.ROWS.JUS-END {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end
}

.ROWS.JUS-AROUND {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: distribute
}

.ROWS.JUS-BETWEEN {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.ROWS.END {
    -webkit-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    align-items: end
}

.ROWS.CENTER {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ROWS.STRETCH {
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.ROWS.BASELINE {
    -webkit-align: baseline;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.ROWS .displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.ROWS.REVERSE {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

.CELL {
    position: relative;
    overflow: hidden;
    -webkit-box-ordinal-group: none;
    -moz-box-ordinal-group: none;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

.CELL._FLEX {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -ms-flex: 1
}

.CELL._FLEX1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -ms-flex: 1
}

.CELL._FLEX2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    -ms-flex: 2
}

.CELL._FLEX3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
    -ms-flex: 3
}

.CELL._FLEX4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    flex: 4;
    -ms-flex: 4
}

.CELL._FLEX5 {
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    -ms-flex: 5
}

.CELL._ORD0 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

.CELL._ORD1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.CELL._ORD2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}

.CELL._ORD3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
}

.CELL._ORD4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4
}

.CELL._ORD5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5
}

.CELL.AUTO {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto
}

.CELL.END {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.CELL.CENTER {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.CELL.STRETCH {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}

.CELL.BASELINE {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline
}

.CELL .noFlex {
    -webkit-box-ordinal-group: none;
    -moz-box-ordinal-group: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto
}

.PADDER-CENTER {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.PADDER0 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.PADDER, .PADDER10 {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px
}

.PADDER5 {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px
}

.PADDER15 {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px
}

.PADDER25 {
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px
}

.PADDER35 {
    position: absolute;
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px
}

.PADDER45 {
    position: absolute;
    top: 45px;
    left: 45px;
    bottom: 45px;
    right: 45px
}

.PADDER55 {
    position: absolute;
    top: 55px;
    left: 55px;
    bottom: 55px;
    right: 55px
}

.SCROLLABLE {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 19.9em) {
    .only-smallmobile {
        display: block
    }

    .hide-smallmobile {
        display: none
    }

    .hide-mobile, .hide-tablet, .hide-notebook, .hide-desktop, .hide-wide {
        display: block
    }

    .only-notebook {
        display: none
    }
}

@media only screen and (min-width: 19.9em) and (max-width: 40em) {
    .only-mobile {
        display: block
    }

    .hide-mobile {
        display: none
    }

    .hide-smallmobile, .hide-tablet, .hide-notebook, .hide-desktop, .hide-wide {
        display: block
    }

    .only-notebook {
        display: none
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .only-tablet {
        display: block
    }

    .hide-tablet {
        display: none
    }

    .hide-mobile, .hide-smallmobile, .hide-notebook, .hide-desktop, .hide-wide {
        display: block
    }

    .only-notebook {
        display: none
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .only-notebook {
        display: block
    }

    .hide-notebook {
        display: none
    }

    .hide-mobile, .hide-tablet, .hide-smallmobile, .hide-desktop, .hide-wide {
        display: block
    }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    .only-desktop {
        display: block
    }

    .only-notebook {
        display: none
    }

    .hide-desktop {
        display: none
    }

    .hide-mobile, .hide-tablet, .hide-notebook, .hide-smallmobile, .hide-wide {
        display: block
    }
}

@media only screen and (min-width: 120.063em) {
    .only-wide {
        display: block
    }

    .only-notebook {
        display: none
    }

    .hide-wide {
        display: none
    }

    .hide-mobile, .hide-tablet, .hide-notebook, .hide-desktop, .hide-smallmobile {
        display: block
    }
}

.rows {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.rows.JUS-CENTER {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center
}

.rows.JUS-END {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end
}

.rows.JUS-AROUND {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: distribute
}

.rows.JUS-BETWEEN {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.rows.END {
    -webkit-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    align-items: end
}

.rows.CENTER {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.rows.STRETCH {
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.rows.BASELINE {
    -webkit-align: baseline;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.rows .displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.rows.REVERSE {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

.cols {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.cols.JUS-CENTER {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center
}

.cols.JUS-END {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end
}

.cols.JUS-AROUND {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: distribute
}

.cols.JUS-BETWEEN {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.cols.END {
    -webkit-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    align-items: end
}

.cols.CENTER {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.cols.STRETCH {
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.cols.BASELINE {
    -webkit-align: baseline;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.cols .displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.cols.REVERSE {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.colonne {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.colonne.JUS-CENTER {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center
}

.colonne.JUS-END {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end
}

.colonne.JUS-AROUND {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: distribute
}

.colonne.JUS-BETWEEN {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.colonne.END {
    -webkit-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    align-items: end
}

.colonne.CENTER {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.colonne.STRETCH {
    -webkit-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.colonne.BASELINE {
    -webkit-align: baseline;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.colonne .displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.colonne.REVERSE {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}