body {
  font-family: Arial, Helvetica, sans-serif;

}

.colonne {
  .cols();


  /*
.aa {
  .cell();
  ._px(333);
  background-color: palevioletred;
}



.bb {
  ._flex();
}

.cc {
  .cell();
  ._px(111);
  background-color: blue;
}

@media @onlyScreen and @tablet{
  .rows();

  .aa {
    .cell();
    ._px(333);
    background-color: palevioletred;
  }

  .bb {
    ._flex();
  }

  .cc {
    .cell();
    ._px(111);
    background-color: blue;
  }
}
*/

}