
.r-app {
  .cols();

  .app-controller {
    .cell();
    width: 200px;


    background-color: peru;
  }

  @media @onlyScreen and @mobile {
    .rows();

    .app-controller {
      .cell();
      height: 20px;

      background-color: yellowgreen;
    }

  }



  .mask(@v){
    width: ~"@{v}px" !important;
    height: ~"@{v}px" !important;
  }
}
