/*

sintassi in-line:

  <div class="ROWS">
    <div class="CELL _20pct | _300px">  da 0 a 500 ogni 5
    <div class="CELL _FLEX">







sintassi css

.righe{
  .rows();

  .primo_elemento{
    .cell(40%);
  }

  .secondo_elemento{
    .cell(flex)
  }

  @media @onlyScreen and @mobile{
    .cols();

    .primo_elemento{
      .cell(25%);
    }
  }
}

*/








.extender {
  .EXTENDER();
}

.padder(@v) {
  position: absolute;
  top: @v;
  left: @v;
  bottom: @v;
  right: @v;
}

.rows {
  .flexContainersCommons(column, vertical);

  .cell(@v:auto) when (@v = flex) {
    .CELL();
    .CELL._FLEX();
  }

  .cell(@v:auto) {
    .CELL();
    width: 100% !important;
    height: @v;
  }

  ._px(@v) {
    .pxH(@v);
  }

  ._pct(@v) {
    .pctH(@v);
  }

}

.cols {
  .flexContainersCommons();

  .cell(@v:auto) when (@v = flex) {
    .CELL();
    .CELL._FLEX();
  }

  .cell(@v:auto) {
    .CELL();
    height: 100%;
    width: @v;
  }

  ._px(@v) {
    .pxW(@v);
  }

  ._pct(@v) {
    .pctW(@v);
  }

}

.pxW(@v) {
  width: ~"@{v}px" !important;
  height: 100% !important;
}

.pctW(@v) {
  width: ~"@{v}%" !important;
  height: 100% !important;
}

.pxH(@v) {
  height: ~"@{v}px" !important;
  width: 100% !important;
}

.pctH(@v) {
  height: ~"@{v}%" !important;
  width: 100% !important;
}

.ROWS {

  > .CELL {

    width: 100% !important;

  }
}

.COLS {

  > .CELL {
    height: 100% !important;

    &._5pct {
      .pctW(5)
    }

    &._10pct {
      .pctW(10)
    }

    &._15pct {
      .pctW(15)
    }

    &._20pct {
      .pctW(20)
    }

    &._25pct {
      .pctW(25)
    }

    &._30pct {
      .pctW(30)
    }

    &._35pct {
      .pctW(35)
    }

    &._40pct {
      .pctW(40)
    }

    &._45pct {
      .pctW(45)
    }

    &._50pct {
      .pctW(50)
    }

    &._55pct {
      .pctW(55)
    }

    &._60pct {
      .pctW(60)
    }

    &._65pct {
      .pctW(65)
    }

    &._70pct {
      .pctW(70)
    }

    &._75pct {
      .pctW(75)
    }

    &._80pct {
      .pctW(80)
    }

    &._85pct {
      .pctW(85)
    }

    &._90pct {
      .pctW(90)
    }

    &._95pct {
      .pctW(95)
    }

    &._5px {
      .pxW(5)
    }
    &._10px {
      .pxW(10)
    }
    &._15px {
      .pxW(15)
    }
    &._20px {
      .pxW(20)
    }
    &._25px {
      .pxW(25)
    }
    &._30px {
      .pxW(30)
    }
    &._35px {
      .pxW(35)
    }
    &._40px {
      .pxW(40)
    }
    &._45px {
      .pxW(45)
    }
    &._50px {
      .pxW(50)
    }
    &._55px {
      .pxW(55)
    }
    &._60px {
      .pxW(60)
    }
    &._65px {
      .pxW(65)
    }
    &._70px {
      .pxW(70)
    }
    &._75px {
      .pxW(75)
    }
    &._80px {
      .pxW(80)
    }
    &._85px {
      .pxW(85)
    }
    &._90px {
      .pxW(90)
    }
    &._95px {
      .pxW(95)
    }
    &._100px {
      .pxW(100)
    }
    &._105px {
      .pxW(105)
    }
    &._110px {
      .pxW(110)
    }
    &._115px {
      .pxW(115)
    }
    &._120px {
      .pxW(120)
    }
    &._125px {
      .pxW(125)
    }
    &._130px {
      .pxW(130)
    }
    &._135px {
      .pxW(135)
    }
    &._140px {
      .pxW(140)
    }
    &._145px {
      .pxW(145)
    }
    &._150px {
      .pxW(150)
    }
    &._155px {
      .pxW(155)
    }
    &._160px {
      .pxW(160)
    }
    &._165px {
      .pxW(165)
    }
    &._170px {
      .pxW(170)
    }
    &._175px {
      .pxW(175)
    }
    &._180px {
      .pxW(180)
    }
    &._185px {
      .pxW(185)
    }
    &._190px {
      .pxW(190)
    }
    &._195px {
      .pxW(195)
    }
    &._200px {
      .pxW(200)
    }
    &._205px {
      .pxW(205)
    }
    &._210px {
      .pxW(210)
    }
    &._215px {
      .pxW(215)
    }
    &._220px {
      .pxW(220)
    }
    &._225px {
      .pxW(225)
    }
    &._230px {
      .pxW(230)
    }
    &._235px {
      .pxW(235)
    }
    &._240px {
      .pxW(240)
    }
    &._245px {
      .pxW(245)
    }
    &._250px {
      .pxW(250)
    }
    &._255px {
      .pxW(255)
    }
    &._260px {
      .pxW(260)
    }
    &._265px {
      .pxW(265)
    }
    &._270px {
      .pxW(270)
    }
    &._275px {
      .pxW(275)
    }
    &._280px {
      .pxW(280)
    }
    &._285px {
      .pxW(285)
    }
    &._290px {
      .pxW(290)
    }
    &._295px {
      .pxW(295)
    }
    &._300px {
      .pxW(300)
    }
    &._305px {
      .pxW(305)
    }
    &._310px {
      .pxW(310)
    }
    &._315px {
      .pxW(315)
    }
    &._320px {
      .pxW(320)
    }
    &._325px {
      .pxW(325)
    }
    &._330px {
      .pxW(330)
    }
    &._335px {
      .pxW(335)
    }
    &._340px {
      .pxW(340)
    }
    &._345px {
      .pxW(345)
    }
    &._350px {
      .pxW(350)
    }
    &._355px {
      .pxW(355)
    }
    &._360px {
      .pxW(360)
    }
    &._365px {
      .pxW(365)
    }
    &._370px {
      .pxW(370)
    }
    &._375px {
      .pxW(375)
    }
    &._380px {
      .pxW(380)
    }
    &._385px {
      .pxW(385)
    }
    &._390px {
      .pxW(390)
    }
    &._395px {
      .pxW(395)
    }
    &._400px {
      .pxW(400)
    }
    &._405px {
      .pxW(405)
    }
    &._410px {
      .pxW(410)
    }
    &._415px {
      .pxW(415)
    }
    &._420px {
      .pxW(420)
    }
    &._425px {
      .pxW(425)
    }
    &._430px {
      .pxW(430)
    }
    &._435px {
      .pxW(435)
    }
    &._440px {
      .pxW(440)
    }
    &._445px {
      .pxW(445)
    }
    &._450px {
      .pxW(450)
    }
    &._455px {
      .pxW(455)
    }
    &._460px {
      .pxW(460)
    }
    &._465px {
      .pxW(465)
    }
    &._470px {
      .pxW(470)
    }
    &._475px {
      .pxW(475)
    }
    &._480px {
      .pxW(480)
    }
    &._485px {
      .pxW(485)
    }
    &._490px {
      .pxW(490)
    }
    &._495px {
      .pxW(495)
    }
    &._500px {
      .pxW(500)
    }
  }
}
