/* Color App */
@pink: #fd6b6c;
@purple: #AF80F8;
@blue: #54a7cf;
@green: #21dcbf;

@app-controller-background-color: #303d45;


@menu-body-background-color: #283037;
@background-search-color:#1d242a;
@text-search-color:#686c70;
@background-button-color: #435059;

@primary-color-text-app: #fff;

@hover-icon-backgroundcolor: #435059;
@hover-icon-text-color: #ccc;

@dot-item-color-red:#fc6b6b;
@dot-item-color-green:#21dabd;
@dot-item-color-blue:#54a7cf;
@dot-item-color-yellow:#FFEE58;

@font-size-icon: 1.3em;

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* APP */

.scaffolding {

  .extender();
  font: 1em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;

  .app-wrapper {
    .cols();

    .app-controller {
      .cell();
      .w(100px);
      .APP-CONTROLLER();

    }
    .app-body {
      .flex();

      .app-body-wrapper {
        .cols();

        .menu-body {
          .cell();
          .w(200px);

          .MENU-BODY();

        }
        .body {
          .flex();
          background-color: yellow;
        }
      }

    }

  }

  @media @onlyScreen and @tablet{
    font-size: 90%;
    .app-wrapper {
      .rows();

      .app-controller {

      }
      .app-body {

      }

    }
  }

  @media @onlyScreen and @mobile{
    font-size: 80%;
    .app-wrapper {
      .rows(reverse);
      .app-controller {

      }
      .app-body {
        .app-body-wrapper {
          .rows();

          .menu-body {
            .cell();
            .h(40px);
          }
          .body {

          }
        }

      }
    }

  }
}

///////////////////////////* Controller *///////////////////////////

.APP-CONTROLLER {

  background-color: @app-controller-background-color;

  .controller-wrapper {
    .rows();

    .controller-up {
      .cell();
      .h(60px);

      .controller-up-wrapper {
        .cols();

        .controller-up-item {
          .cell();
          .w(50%);

          .container-controller-up-item {
            height: 50px;
            line-height: 50px;
            width: 50px;
            text-align: center;
            color: @primary-color-text-app;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background-color: @hover-icon-backgroundcolor;
              color: @hover-icon-text-color;
            }

            .item-up {
              font-size: @font-size-icon;
            }
          }
        }
      }
    }
    .controller-container-img {
      .cell();
      .h(125px);

      .container-img {
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 50px;

        img {
          width: 75px;
        }
      }
    }
    .container-controller-item {
      .cell();
      .h(60px);

      .controller-item {
        height: 55px;
        line-height: 55px;
        width: 85px;
        text-align: center;
        color: @primary-color-text-app;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: @hover-icon-backgroundcolor;
          color: @hover-icon-text-color;
        }
        .fonts-item {
          font-size: @font-size-icon;
        }
      }
    }
  }

  @media @onlyScreen and @tablet{
    .h(70px);

    .controller-wrapper {
      .cols();

      .controller-up {
        .w(100px);

        .controller-up-wrapper {
          .controller-up-item {
            .container-controller-up-item {
              height: 40px;
              line-height: 40px;
              width: 40px;
            }
          }
        }
      }
      .controller-container-img {
        .cell();
        .w(80px);

        .container-img {
          width: 50px;
          height: 50px;
          img {
            width: 50px;
          }
        }
      }
      .container-controller-item {
        .cell();
        .w(60px);

        .controller-item {
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
  @media @onlyScreen and @mobile{
    .h(40px);

    .controller-wrapper {
      .cols();

      .controller-up {
        display: none;

        /*.controller-up-wrapper {
          .controller-up-item {
            .container-controller-up-item {
              height: 25px;
              line-height: 25px;
              width: 25px;
            }
          }
        }*/
      }

      .controller-container-img {
        display: none;
        /*.cell();
        .w(40px);

        .container-img {
          width: 30px;
          height: 30px;
          img {
            width: 30px;
          }
        }*/
      }

      .container-controller-item {
        .flex();




        .controller-item {
          height: 25px;
          line-height: 25px;
          width: 25px;
        }
      }
    }
  }
}

///////////////////////////* MENU BODY *///////////////////////////

.MENU-BODY {
  background-color: @menu-body-background-color;
  color: @primary-color-text-app;

  .menu-body-wrapper {
    .rows();

    .search-container{
      .cell();
      .h(55px);

      .SEARCH();
    }
    .button-container{
      .cell();
      .h(55px);

      .button{
        width: 155px;
        height: 40px;
        background-color: @background-button-color;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;

        &:hover{
          background-color: darken(@background-button-color, 5%);
        }
      }
    }
    .label-todolist-container{
      .cell();
      .h(60px);

      .label-todolist{
        width: 160px;
        height: 50px;
        text-align: left;
        line-height: 70px;

      }

    }
    .item-list-container{
      .cell();
      .h(40px);

      .item-list{
        width: 155px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        line-height: 35px;
        &:hover{
          background-color: @background-button-color;
        }

        .circle{
          margin-left: 10px;
          margin-right: 10px;

        }

        .circle.red{
          color: @dot-item-color-red;
        }

        .circle.green{
          color: @dot-item-color-green;
        }

        .circle.blue{
          color: @dot-item-color-blue;
        }

        .circle.yellow{
          color: @dot-item-color-yellow;
        }
      }

    }
  }

  @media @onlyScreen and @mobile{
    .menu-body-wrapper {
      .cols();

      .search-container{
        .cell();
        .w(55px);

        .SEARCH();
      }


    }
  }

}


///////////////////////////* SEARCH *///////////////////////////

.SEARCH{
  .container-1{
    width: 155px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    width: 155px;
    height: 40px;
    background: @background-search-color;
    border: none;
    float: left;
    color: @text-search-color;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: @text-search-color;
  }

  .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: @text-search-color;
  }

  .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: @text-search-color;
  }

  .container-1 input#search:-ms-input-placeholder {
    color: @text-search-color;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
/*  .container-1 .icon{
    position: absolute;
    margin-left: 130px;
    margin-top: 9px;
    z-index: 1;
    color: #4f5b66;
  }*/
}