/* Color App */
@pink:#fd6b6c;
@purple:#AF80F8;
@blue:#54a7cf;
@green:#21dcbf;

@app-controller-background-color: #303d45;

@primary-color-text-app: #fff;


@hover-icon-backgroundcolor: #435059;
@hover-icon-text-color: #ccc;

@font-size-icon: 1.3em;

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);



/* APP */

.scaffolding {

  .extender();
  font: 1em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;


  .app-wrapper {
    .cols();

    .app-controller{
      .cell();
      .w(150px);
      .APP-CONTROLLER();

    }
    .app-body{
      .flex();

    }

  }

  @media @onlyScreen and @tablet{
    font-size: 80%;
    .app-wrapper {
      .rows();

      .app-controller{

      }
      .app-body{


      }

    }
  }

  @media @onlyScreen and @mobile{
    font-size: 50%;
    .app-wrapper {
      .rows(reverse);
      .app-controller{

      }
      .app-body{

      }
    }

  }
}



///////////////////////////* Controller *///////////////////////////

.APP-CONTROLLER{

  background-color: @app-controller-background-color ;

  .controller-wrapper{
    .rows();

    .controller-up{
      .cell();
      .h(60px);

      .controller-up-wrapper{
        .cols();

        .controller-up-item{
          .cell();
          .w(50%);

          .container-controller-up-item{
            height: 50px;
            line-height:50px;
            width: 50px;
            text-align: center;
            color: @primary-color-text-app;
            border-radius: 5px;
            cursor:pointer;
            &:hover {
              background-color: @hover-icon-backgroundcolor;
              color: @hover-icon-text-color;
            }

            .item-up{
              font-size: @font-size-icon;
            }
          }
        }
      }
    }
    .controller-container-img{
      .cell();
      .h(125px);

      .container-img{
        width: 100px;
        height: 100px;
        overflow:hidden;
        border-radius: 50px;

        img{
          width: 100px;
        }
      }
    }
    .container-controller-item{
      .cell();
      .h(60px);

      .controller-item{
        height: 55px;
        line-height: 55px;
        width: 85px;
        text-align: center;
        color: @primary-color-text-app;
        border-radius: 5px;
        cursor:pointer;
        &:hover {
          background-color: @hover-icon-backgroundcolor;
          color: @hover-icon-text-color;
        }
        .fonts-item{
          font-size: @font-size-icon;
        }
      }
    }
  }

  @media @onlyScreen and @tablet{
    .h(80px);

    .controller-wrapper{
      .cols();

      .controller-up{
        .w(100px);

        .controller-up-wrapper {
          .controller-up-item {
            .container-controller-up-item {
              height: 40px;
              line-height:40px;
              width: 40px;
            }
          }
        }
      }
      .controller-container-img{
        .cell();
        .w(80px);

        .container-img {
          width: 60px;
          height: 60px;
          img{
            width: 60px;
          }
        }
      }
      .container-controller-item{
        .cell();
        .w(60px);

        .controller-item{
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
  @media @onlyScreen and @mobile{
    .h(40px);

    .controller-wrapper{
      .cols();

      .controller-up{
        .cell();
        .w(60px);

        .controller-up-wrapper {
          .controller-up-item {
            .container-controller-up-item {
              height: 25px;
              line-height: 25px;
              width: 25px;
            }
          }
        }
      }

      .controller-container-img{
        .cell();
        .w(40px);

        .container-img {
          width: 30px;
          height: 30px;
          img{
            width: 30px;
          }
        }
      }

      .container-controller-item{
        .cell();
        .w(40px);

        .controller-item{
          height: 25px;
          line-height: 25px;
          width: 25px;
        }
      }
    }
  }
}